body{
    background-image:linear-gradient(to bottom, black, white);
}

.entry .entry-content{
    
    a{
        color:white;
        text-decoration:none;
        }

    a:hover{
        text-decoration:underline dotted #3b96d3;
    }

     p.has-background {
        background-image:linear-gradient(to bottom, white, black);
        border-radius:0.5em;
        border-bottom:0.2em solid #3b96d3;
        color:black;
        text-shadow: 2px 2px #3b96d3;
    }

    p.nouvelles{
        color:white;
        text-shadow: 2px 2px #3b96d3;
    }
}

